:root {
    --pale-sage: #BFF4CB;
    --sage: #84A98C;
    --dusty-emerald: #52796f;
    --deep-emerald: #354F52;
    --night-forest: #2F3E46;
}  
body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: var(--night-forest);
    color: var(--pale-sage);
  }                  
  * {
    border: 1px solid teal;
}                  
.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}                  
main {
    min-height: 60vh;
    flex-grow: 5;
  }
  
nav {
    background-color: black;
    flex-grow: 2;
    display: inline-flex;
}
    h2 {
      text-align: left;
    }
    h3{
      text-align: right;
    }

img{
    width: 50%;
    z-index: 0;
    position: relative;
  }
footer {
    background-color: none;
    flex-grow: 1;
  }  
header {
    background-color: turquoise;
    flex-grow: 1;
    display: flex;
    text-align: center;
    z-index: 1;
  }
    header > button {
   display: flex;
    }  

                        
  @media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    main {
      max-width: 60%;
    }
    header, footer {
      width: 100%;
    }
  }                                  
