:root {
    --pale-sage: #BFF4CB;
    --sage: #84A98C;
    --dusty-emerald: #52796f;
    --deep-emerald: #354F52;
    --night-forest: #2F3E46;
}  
body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    background-color: var(--night-forest);
    color: var(--pale-sage);
  }                  
  * {
    border: 1px solid teal;
}                  
      
main {
    min-height: 60vh;
    flex-grow: 5;
  }
 /* nav bar styling */ 
nav {
    background-color: black;
    flex-grow: 2;
    display:inline-flex;
    max-height: 70px;
    min-width: 100%;
}
nav > div {
    justify-content: end;
}
nav > div > div > h2 {
  font-size: 17px;
  color: #F47521;
}
nav > div > div > h3 {
  font-size: 13px;
  color: #F47521;
}
nav > div > div > p { 
    color: #A0A0A3;
    text-align: center;
    font-size: 13px;
}
/* nav bar end */

/* title page styling */
    h2 {
      text-align: left;
    }
    h3{
      text-align: right;
    }

img{
    width: 50%;
    position: relative;
    z-index: 0;
  }
footer {
    background-color: none;
    flex-grow: 1;
  }  
header {
    background-color: turquoise;
    flex-grow: 1;
    display: flex;
    text-align: center;
  }
    header > button {
   display: flex;
    }  
    .container {
      position: relative;
      text-align: center;
      color: white;
    } 
    .centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transform: ;
      z-index: 1;
    }       
/* title page end */
                        
  @media (min-width: 600px) {
    .container {
      flex-direction: row;
      flex-wrap: wrap;
    }
    main {
      max-width: 60%;
    }
    header, footer {
      width: 100%;
    }
  }                                  
